@import "./base/reset";
@import "./utils/variables";
@import "./base/base";
@import "./base/typo";
@import "./utils/anim";
@import "./components/buttons";
@import "./layout/footer";
@import "./layout/header";
@import "./layout/navigation";
@import "./utils/loaders";
@import "./pages/accueil";
@import "./pages/restaurant";




.width {
  width: 100%;
}

.container {

  &__heart{
    position: relative;

    &:hover .anim__heart--title{
      animation: try 1s forwards;
    }

    &:hover .anim__heart{
      opacity: 0; 
    }
  }
}