@import "./base/reset";
@import "./utils/variables";
@import "./components/buttons";
@import "./layout/footer";
@import "./layout/header";
@import "./layout/navigation";
@import "./utils/loaders";

.width {
  width: 100%;
}

.explanation {
  text-align: center;
  padding: 35px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px 4px inset;

  &__title{
    font-size: 1.8rem;
  }

  &__subtext{}

  &__btn{
  }

}

.functioning {
  padding: 20px;

  &__title{
    margin: 30px 0px 20px 0px;
  }

  &__all-step{
    padding-left: 10px;
    margin-bottom: 40px;

    @media screen and (min-width: 800px) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__step{
    display: flex;
    position: relative;
    align-items: center;
    margin-top: 25px;
    height: 70px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    > i {
      padding-left: 10%;
    }

    @media screen and (min-width: 800px) {
      width: 31%;
    }
  }

  &__subtext{
    display: flex;
    justify-content: center;
    margin-right: 8%;
  }

  &__btn{
    position: absolute;
    left: -15px;
    border-radius: 50%;
    border: 0;
    line-height: 25px;
    width: 25px;
    background-color: $color-primary;
    color: white;
  }


}
.overview {
  padding: 15px;
  margin-bottom: 40px;

  &__layout{
    @media screen and (min-width: 600px) {
      display: flex;
      flex-direction: row;
      gap: 2%;
      flex-wrap: wrap;
    }

    @media screen and (min-width: 1000px) {
      gap: 1%;
      justify-content: space-between;
    }
  }

  &__title{}

}
.card {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 25px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  @media screen and (min-width: 600px) {
    width: 49%;
  }

  @media screen and (min-width: 1024px) {
    width: 24%;
  }

  &:hover .anim__heart--colors{
    animation: try 1s forwards;
  }

  &:hover .anim__heart{
    opacity: 0;
  }

  &__new::after{
    content: 'Nouveau';
    position: absolute;
    line-height: 20px;
    width: 25%;
    border-radius: 2px;
    background-color: $color-tertiary;
    color: #fff;
    font-size: 0.8rem;
    text-align: center;
    right: 10px;
    top: 10px;
  }

  &__img{
    height: 100%;
    object-fit: cover;
    margin: 0px;
    border-radius: 15px 15px 0px 0px;
  }

  &__container-img{
    height: 150px;
  }

  &__content{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-radius: 0px 0px 15px 15px;
  }

  &__title{
    margin: 0px;
  }

  &__subtext{
    margin: 0;
  }

  &__icon{
    line-height: 25px;

    &:hover .anim__heart--colors {
      animation: try 1s forwards;
    }

    &:hover .anim__heart{
      opacity: 0;
    }
  }
}

@keyframes try{
  0%{
    opacity: 0;
  }

  1%{
    z-index: 10;
  }

  100%{
    opacity: 1;
  }
}

.menu__img{
  height: 200px;
  object-fit: cover;
  margin: 0px;
}

.menu{
  border-radius: 15px 15px 0px 0px;
  background-color: #fff; 
  position: relative;
  top: -15px;
  padding: 30px;

  @media screen and (min-width:800px){
    padding: 15px;
  }

  @media screen and (min-width:950px){
    padding: 30px;
  }

  &__layout{
    @media screen and (min-width:800px){
      display: flex;
      gap: 2%;
    }
  }

  &__section{
    @media screen and (min-width:800px){
      width: 32%;
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    padding: 40px;

    @media screen and (min-width:800px){
      padding: 30px 40px 0px 40px;
    }
  }

  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 20px 0px 0px;
  }

  &__underline{
    height: 3px;
    width: 65px;
    background: mediumaquamarine;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  &__title{
    margin: 0;
    &--primary{
      margin: 0px;
      font-family: 'Shrikhand', cursive;
    }
    &--secondary{
      margin-bottom: 3px;
    }
  }

  &__part{
    gap: 25px;
    display: flex;
    flex-direction: column;
  }

  @for $i from 1 through 3 {
    .menu__proposal:nth-child(#{$i}){ 
      animation-delay: calc($i*1s);
    }
  }

  &__proposal{
    width: 100%;
    border-radius: 15px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    position: relative;
    overflow: hidden;
    opacity: 0;
    animation-name: transitionApparition;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    

    &:hover .width {
      width: 80%;
      transition: 1s ease;
    }

    &:hover .anim__rotate {
      left: 80%;
      transition: 1s ease;
    }

    &:hover .anim__rotate svg {
      transform: rotate(360deg);
      transition: 1s ease;
    }
  }

}

@keyframes transitionApparition{
  0%{
    opacity: 0;
    transform: translateY(10px);
  }

  100%{
    opacity: 1;
    transform: translateX(0px);
  }
}

.proposal{

  &__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    transition-duration: 0.5s; 
  }

  &__heading{
    overflow: hidden;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

    > * {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    }

    > p {
      margin: 5px;
    }

    > h3 {
      margin-top: 5px;
      margin-bottom: 5px;
      font-size: 20px;
    }
  }

  &__price{
    display: flex;
    justify-content: flex-end;
    margin: 0rem 1rem 0rem 1rem;
    max-width: 100%;

    > span {
      font-weight: bold;
    }
  }
}

.anim {
  width: 20%;

  &__rotate {
    position: absolute;
    left: 100%;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    border-radius: 0px 15px 15px 0px;
    background-color: mediumaquamarine;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

  &__svg{
    fill: white;
    height: 30px;
    width: 30px;
  }

  &__heart{
    height: 24px;
    width: 24px;
    position: relative;

    &--title{
      position: absolute;
      right: 49px;
      height: 27px;
      width: 27px;
      opacity: 0;

      &:hover {
        animation: try 1s forwards;
      }
  
      &:hover .anim__heart {
        opacity: 0; 
      }
    }

    &--colors{
      position: absolute;
      right: 13px;
      bottom: 29px;
      height: 27px;
      width: 27px;
      opacity: 0;
    }
  }
}

.svg_transform{}