.mfp {
  margin: 0px;
  padding: 30px;
  background-color: #222;
  color: #fff;

  span{
    color: white;
  }

  &__title{
    font-size: 22px;
    margin-bottom: 15px;
    margin-top: 0px;
    font-family: 'Shrikhand', Arial;
  }

  &__ul{
    > li {
      margin-top: 8px;
    }
  }

  &__logo{
    height: 25px;
    color: #fff;
    padding-bottom: 10px;
  }

  &__nav{}

  fa-solid{
    color: black;
  }

  &__link{}
  
}