.explanation {
  text-align: center;
  padding: 40px;
  background-color: #F6F6F6;

  &__title{
    font-size: 1.8rem;
  }

  p {
    font-size: 20px;
  }

  &__btn{
    margin-top: 10px;
    margin-bottom: 15px;
  }
  
}
  
.functioning {
  padding: 20px;

  @media screen and (min-width: 1000px) {
    padding: 60px;
  }

  &__title{
    margin: 30px 0px 40px 0px;
  }

  &__all-step{
    padding-left: 10px;
    margin-bottom: 40px;

    @media screen and (min-width: 800px) {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0px;
      gap: 2%;
    }
  }

  &__step{
    display: flex;
    position: relative;
    align-items: center;
    margin-top: 25px;
    height: 70px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 5px 15px;

    i {
      font-size: 20px;
      padding-left: 8%;
      color: #666;
    }

    @media screen and (min-width: 800px) {
      width: 31%;
      margin-top: 30px;
    }

    &:before {
      position: absolute;
      text-align: center;
      left: -15px;
      border-radius: 50%;
      border: 0;
      line-height: 25px;
      width: 25px;
      background-color: $color-primary;
      color: white;
    }

    @for $i from 1 through 5 {
      &:nth-child(#{$i})::before{ 
        content: '#{$i}';
      }
    }
  }

  &__subtext{
    display: flex;
    margin-left: 8%;
    margin-right: 8%;
    font-weight: 700;
  }
}

.overview {
  padding: 20px;
  margin-bottom: 40px;
  background-color: #F6F6F6;

  h2 {
    font-weight: 700;
  }

  @media screen and (min-width: 1000px) {
    padding: 60px;
  }

  &__layout{
    @media screen and (min-width: 600px) {
      display: flex;
      flex-direction: row;
      gap: 2%;
      flex-wrap: wrap;
    }

    @media screen and (min-width: 1000px) {
      gap: 1%;
      justify-content: space-between;
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 25px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  @media screen and (min-width: 600px) {
    width: 49%;
  }

  @media screen and (min-width: 1024px) {
    width: 24%;
  }

  &__new::after{
    content: 'Nouveau';
    position: absolute;
    line-height: 25px;
    width: 17%;
    border-radius: 2px;
    background-color: $color-tertiary;
    color: #399b71;
    font-weight: 700;
    font-size: 0.8rem;
    text-align: center;
    right: 10px;
    top: 10px;

    @media screen and (min-width: 1024px) {
      width: 25%;
    }
  }

  &__img{
    height: 100%;
    object-fit: cover;
    margin: 0px;
    border-radius: 15px 15px 0px 0px;
  }

  &__container-img{
    height: 150px;
  }

  &__content{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-radius: 0px 0px 15px 15px;
  }

  &__title{
    margin: 0px;
  }

  &__subtext{
    margin: 0;
  }

  &__icon{
    line-height: 25px;

    &:hover .anim__heart--colors {
      animation: try 1s forwards;
    }

    &:hover .anim__heart{
      opacity: 0;
    }
  }
}

.container {

  &__heart{
    position: relative;

    &:hover .anim__heart--title{
      animation: try 1s forwards;
    }

    &:hover .anim__heart{
      opacity: 0; 
    }
  }
}